<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="applications" type="VirtualDesktop.AppConfigSection, VirtualDesktop" />
  </configSections>
  
  <appSettings>
    <add key="grid" value="5,10" />
    <add key="size" value="60,80" />
  </appSettings>

  <applications>
    <add name="WeChat" path="C:\Program Files (x86)\Tencent\WeChat\WeChat.exe" position="1,1"/>
    <add name="qq" path="C:\Program Files (x86)\Tencent\QQ\Bin\QQScLauncher.exe" position="1,2"/>
    <add name="Skype" path="C:\Program Files (x86)\Skype\Phone\skype.exe" position="1,3"/>
    <add name="LOL" path="C:\Program Files\腾讯游戏\英雄联盟\TCLS\Client.exe" position="3,10"/>
    <add name="TGP" path="C:\Program Files (x86)\Tencent\TGP\tgp_daemon.exe" position="4,10"/>    
  </applications>
  
</configuration>